/* Origination */
body, table {
    /* Font */
    text-align: center;
    font-size: 16px;
    font-family: "Arial Rounded MT", "Helvetica Neue", Helvetica, sans-serif;
}
body {
    /* Color */
    background-color: rgb(217, 236, 246);
}

/* inputs */
input, select, button {
    /* Position */
    padding: 5px;
    border: 1px black solid;
    border-radius: 6px;
    /* Color */
    background-color: white;
}

/* Cool */
.cool {
    position: fixed;
    height: 4px;
    width: 100%;
    background-color: blueviolet;
    background-image: linear-gradient(to right, blue, blueviolet);
    left: 0;
    top: 0;
}

/* Table */
table {
    /* Position */
    margin: 10px auto;
    border-spacing: 0;
    border-radius: 15px;
    border: solid gray 1px;
    /* Color */
    background-color: white;
}
td {
    padding: 5px;
}

/** Courses **/
th {
    /* Position */
    padding: 10px;
    border-bottom: solid gray 1px;
}
/* td */
tbody.courses td {
    /* Position */
    padding: 10px 20px;
}
/* Span */
span:hover {
    /* Color */
    color: blue;
    /* Cursor */
    cursor: pointer;
}

/* Warn */
.warn {
    /* Position */
    display: none;
    margin: 0;
    /* Color */
    color: red;
}

/** Edit Grade's Key **/
/* Table */
table.gradeKeyEdit {
    display: none;
}

/** FAQ **/
/* div */
div.FAQ {
    /* Position */
    margin: auto;
    padding: 10px 30px;
    max-width: 750px;
    min-width: 250px;
    border: 1px solid gray;
    border-radius: 20px;
    /* Font */
    text-align: left;
    /* Color */
    background-color: white;
}
/* h1 */
div.FAQ h1 {
    /* Font */
    text-decoration: underline;
}
div.FAQ a {
    color: black;
}
div.FAQ a:hover {
    color: blue;
}

footer, footer a {
    /* Position */
    margin: 20px 0;
    /* Color */
    color: gray;
    /* Font */
    text-decoration: none;
}
a:hover {
    /* Font */
    text-decoration: underline;
}