/** Origination **/
body, table {
    /* Font */
    text-align: center;
    font-size: 16px;
    font-family: "Arial Rounded MT", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    /* Color */
    background-color: rgb(217, 236, 246);
}
/** span **/
span:hover {
    /* Color */
    color: blue;
    /* Cursor */
    cursor: pointer;
}
a:hover {
    /* Font */
    text-decoration: underline;
}
/* footer */
footer, footer a {
    /* Position */
    margin: 20px 0;
    /* Color */
    color: gray;
    /* Font */
    text-decoration: none;
}
/* inputs */
input, select, button {
    /* Position */
    padding: 5px;
    border: 1px black solid;
    border-radius: 6px;
    /* Color */
    color: black;
    background-color: white;
}
/** Table **/
table {
    /* Position */
    margin: 10px auto;
    border-spacing: 0;
    border-radius: 15px;
    border: solid gray 1px;
    /* Color */
    background-color: white;
}
th {
    /* Position */
    padding: 10px;
    border-bottom: solid gray 1px;
}
td {
    /* Position */
    padding: 5px;
}

/* Cool */
.cool {
    /* Position */
    position: fixed;
    height: 4px;
    width: 100%;
    left: 0;
    top: 0;
    /* Color */
    background-color: blueviolet;
    background-image: linear-gradient(to right, blue, blueviolet);
}

/** Courses **/
/* td */
tbody.courses td {
    /* Position */
    padding: 10px 20px;
}
/* Garde Option */
button.gradeOption {
    /* Position */
    margin: 0 -2.5px;
    border-radius: 0;
    width: 80px;
}
button.gradeOption:hover {
    /* Color */
    background-color: rgb(180, 180, 180);
    /* Cursor */
    cursor: pointer;
}
button.gradeOption:first-child { border-radius: 10px 0 0 10px;}
button.gradeOption:last-child { border-radius: 0 10px 10px 0;}
button.selectedGrade {
    /* Position */
    border-bottom: 3px solid black;
    /* Color */
    background-color: lightgray;
}

/* Warn */
.warn {
    /* Position */
    display: none;
    margin: 0;
    /* Color */
    color: red;
}

/** Edit Grade's Key **/
/* Table */
table.gradeKeyEdit, span.resetGradeKey {
    /* Position */
    display: none;
}

/** FAQ **/
/* div */
div.FAQ {
    /* Position */
    margin: auto;
    padding: 10px 30px;
    max-width: 750px;
    min-width: 250px;
    border: 1px solid gray;
    border-radius: 20px;
    /* Font */
    text-align: left;
    /* Color */
    background-color: white;
}
/* h1 */
div.FAQ h1 {
    /* Font */
    text-decoration: underline;
    font-size: 32px;
}
div.FAQ a {
    /* Color */
    color: black;
}
div.FAQ a:hover {
    /* Color */
    color: blue;
}
div.FAQ p {
    /* Font */
    font-size: 16px;
}

/* Add setting for mobile */
/** Mobile **/
@media (pointer:none), (pointer:coarse) {
    /** Organization **/
    body {
        font-size: 24px;
    }
}